doctype html
html
  head
    title Event Confirmation
  body
    h1 Hello #{userEmail}
    h2 Your Event Has Been Created!
    p Thank you for creating an event. Here are the details:

    div
      strong Event Title:
      span #{eventTitle}

    div
      strong Date:
      span #{eventDate}

    div
      strong Location:
      span #{eventLocation}

    p We look forward to seeing you there!
    p Regards, Event Team
